
/* Font scaling based on width of container */
/* p{
    font-size: 2em;
}
.container{
    font-size: 2vw;
} */

*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100%;
    width: 100%;
    font-size: 3vw;
    
}
p{
    font-size: 3em;
    justify-content: flex-start;
}

@media screen and (min-width:800px) {
    p{
        font-size: 2em;
        justify-content: flex-start;
    }
    .container{
        height: 75%;
        width: 100%;
        font-size: 3vw;
    }
}