*{
    margin: 0;
    padding: 0;
}
.header-content{
    width:50%
}
.header-content > h1{
    font-size: 5rem;
}
.header-content > p{
    font-size: 1.5rem;
}
@media screen and (max-width:1067px) {
    .header-content{
        width:100%
    }   
    .header-content > h1{
        font-size: 3rem;
    }
    .header-content > p{
        font-size: 1.3rem;
    }
}



body{
    overflow-x: hidden;
}

a{
    text-decoration: none;

}
i{
    font-size: 2rem;
}

.hr-19 {
    border: none;
    height: 10px;
    background: linear-gradient(-135deg, #fff 5px, transparent 0) 0 5px, linear-gradient(135deg, #fff 5px, #8c8c8c 0) 0 5px;
    background-color: #fff;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px;
  }